
<body>
<div class="bg_c">
<header>
  <div class="header_title">
    <h1>JobSeeker</h1>
  </div>
  <div class="header_info">
    <!--emailの長さでログアウトが消える。一時的に表示をログアウトだけにする-->
    <!--ログイン中: <strong><%= current_user.email %></strong>-->
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
</header>
<div class="boxContainer">
	<div class="box"><p class="comp_list">選考中企業</p>
    <table>
      <thead>
        <tr>
          <th class="list_midasi">企業名</th>
          <th class="list_midasi">次回選考</th>
          <th class="list_midasi">服装</th>
          <th class="list_midasi">日時</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.title %></td>
            <td><%= event.condition %></td>
            <td><%=#服装画像表示
              if event.clothe=='suit'
                 image_tag '/images/icon1.png' , :size => '25x28'
              else
                 image_tag '/images/icon2_1.png' , :size => '25x28'
              end
              %></td>
            <td><%=#日付部分だけ表示
                 a=event.start.to_s
                 a.gsub!(/-/,'/')
                 a[5,5]
                %></td>
            <td><%= link_to image_tag('/images/edit.png',:size => '20x20'), edit_event_path(event) %></td>
            <td><%= link_to  image_tag('/images/batsu.png',:size => '20x20'), event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="plus_icon">
    <%= link_to image_tag('/images/plus1.png' , :size => '50x50'),controller: 'events', action: 'new'%>
  </div>
  </div>
	<div id="calendar" class="calendar"></div>
</div>
</div>
</body>
